#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: white;
  color: black;
  text-align: start;
}

.wrapper {
  position: relative;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
}

.calendar-events {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  position: absolute;
  top: 1.8rem;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.calendar-days-passed {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.day-passed {
  align-content: center;
  justify-content: center;
  text-align: center;
  font-size: 3rem;
  color: black;
}

.year {
  font-size: 1.25rem;
  text-align: center;
}

.cell {
  box-sizing: content-box;
  outline: 1px solid lightgrey;
  padding: 0.4rem;
  width: 4rem;
  height: 4rem;
}

.month-0,
.month-3,
.month-6,
.month-9,
.month-12 {
  background-color: #ffe5e5;
}

.month-1,
.month-4,
.month-7,
.month-10 {
  background-color: #e5ffe5;
}

.month-2,
.month-5,
.month-8,
.month-11 {
  background-color: #e5e5ff;
}

.month-text {
  font-weight: bold;
  color: lightgray;
  font-size: 2rem;
  overflow: visible;
  position: relative;
}

.event {
  outline: unset;
}
.event-text {
  text-align: center;
  white-space: nowrap;
  position: absolute;
  overflow: visible;
  font-weight: bolder;
}
.event-text-offset {
  transform: translateX(60%);
}
.line {
  border-top: 1px solid black;
  height: 1px;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  position: relative;
  top: 1.5rem;
}
.line-start {
  margin-left: unset;
}
.line-start::before {
  content: "";
  position: absolute;
  transform: translateY(-50%);
  height: 1.5rem;
  border-left: 1px solid black;
}
.line-end {
  margin-right: unset;
}
.line-end::before {
  content: "";
  position: absolute;
  transform: translateY(-50%);
  height: 1.5rem;
  border-right: 1px solid black;
  right: 0;
}
